<?xml version="1.0"?>
<config>
    <modules>
        <Radz_LoginSpeedup>
            <version>0.7.0</version>
        </Radz_LoginSpeedup>
    </modules>
    
    <global>    
        <models>
        	<loginspeedup>
                <class>Radz_LoginSpeedup_Model</class>
            </loginspeedup>
        </models>
        
        <blocks>        	        	        
        	<loginspeedup>
                <class>Radz_LoginSpeedup_Block</class>
            </loginspeedup>        	
        </blocks>          
              
    </global>
    
    <frontend>           
        <layout>
            <updates>
                <loginspeedup>
                    <file>loginspeedup.xml</file>
                </loginspeedup>
            </updates>
        </layout>
    </frontend>
</config>